body {
    font-family: Arial, sans-serif;
}


.add-button {
    background-color: #4244cc;
    color: white;
    border: none;
    min-height: 25px;
    min-width: 40px;
    height: auto;
    width: auto;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}


.task-options {
    display: flex;
    gap: 10px;
}